<div class="container">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Nombre</label>
      <input type="text" class="input" formControlName="name" />
      <span *ngIf="isControlInvalid('name')" class="error">{{ getErrorMessage('name') }}</span>
    </div>

    <div class="field">
      <label class="label">Documento</label>
      <input type="text" class="input" formControlName="document" (blur)="onBlur('document')" />
      <span *ngIf="isControlInvalid('document')" class="error">{{ getErrorMessage('document') }}</span>
    </div>

    <div class="field">
      <label class="label">Fecha de nacimiento</label>
      <input type="date" class="input" formControlName="birthDate" />
      <span *ngIf="isControlInvalid('birthDate')" class="error">{{ getErrorMessage('birthDate') }}</span>
    </div>

    <div class="field">
      <label class="label">País:</label>
      <select id="countries" class="input" formControlName="country">
        <option value="" disabled selected>Selecciona un país</option>
        <option *ngFor="let country of countries">{{ country.name.common }}</option>
      </select>
      <span *ngIf="isControlInvalid('country')" class="error">{{ getErrorMessage('country') }}</span>
    </div>

    <button type="submit" class="button">Registrar</button>
  </form>
</div>
