<form class="form" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label">Nombre</label>
    <input type="text" class="input" formControlName="nombre" />
    <span *ngIf="registroForm.get('nombre')?.invalid && (registroForm.get('nombre')?.dirty || registroForm.get('nombre')?.touched)"
          class="error">{{ getErrorMessage('nombre') }}</span>
  </div>
  <div class="field">
    <label class="label">Documento</label>
    <input type="text" class="input" formControlName="documento" />
    <span *ngIf="registroForm.get('documento')?.invalid && (registroForm.get('documento')?.dirty || registroForm.get('documento')?.touched)"
          class="error">{{ getErrorMessage('documento') }}</span>
  </div>
  <div class="field">
    <label class="label">Fecha de nacimiento</label>
    <input type="date" class="input" formControlName="fechaNacimiento" />
    <span *ngIf="registroForm.get('fechaNacimiento')?.invalid && (registroForm.get('fechaNacimiento')?.dirty || registroForm.get('fechaNacimiento')?.touched)"
          class="error">{{ getErrorMessage('fechaNacimiento') }}</span>
  </div>
  <div class="field">
    <label class="label">País:</label>
    <select formControlName="pais">
      <option value="" disabled selected>Selecciona un país</option>
      <option value="Uruguay">Uruguay</option>
      <option value="Venezuela">Venezuela</option>
      <option value="Argentina">Argentina</option>
      <option value="Chile">Chile</option>
    </select>
    <span *ngIf="registroForm.get('pais')?.invalid && (registroForm.get('pais')?.dirty || registroForm.get('pais')?.touched)"
          class="error">{{ getErrorMessage('pais') }}</span>
  </div>
  <button type="submit" class="button">Registrar</button>
</form>
